spotipy
tensorflow
requests
pandas
datetime
xdg
scikit-learn
mediapipe
numpy==1.26.4

torch
pillow
torchvision
torchsummary
streamlit
streamlit-webrtc

opencv-contrib-python-headless==4.9.0.80  # (or opencv-python-headless==4.9.0.80)
# or
#numpy==2.2.6
#opencv-contrib-python-headless>=4.10.0.84  # or opencv-python-headless>=4.10.0.84
