spotipy==2.23.1
tensorflow==2.15.1
requests==2.31.0
pandas==2.2.2
pyxdg==0.28
scikit-learn==1.4.2
mediapipe==0.10.14
numpy==1.26.4
opencv-contrib-python-headless==4.11.0.86
torch==2.3.0
pillow==10.3.0
torchvision==0.18.0
torchsummary==1.5.1
streamlit==1.34.0
streamlit-webrtc==0.47.2
